@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mega Desk Buider</h1>
    <img src="/images/desk-clipart-6.jpg" class="deskPic"/>

    <p><a href="#" class="myButton">open web app</a></p>

    <p>What is Mega Desk Builder? this app will help you build the desk of your deams by letting you know how much it will be to build your desk. all you have to do is input all the info we need to know to make it.</p>
</div>
